body{
    background: white;
}

a{
    color: black;
    
}
a .hover{
    color: rgb(151, 99, 201);
}

.App-header{
    margin-top: 30px;
    text-align: center;
    
}
.App-header .title{
    font-size: 35px;
}

.App-header .logo-title{
 text-align: left;

}

.App-logo{
 display: inline-block;
 max-width: 90px;
 margin-right:20px;
 margin-left: 10px;
}

.App footer{
    margin: 20px;
}